// Base Class Definition
// -------------------------
$xa-css-prefix:       xa !default;

.#{$xa-css-prefix} {
  font-family: tpe-awesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
 

.item-link {
  color: #58a6ff;
}

.item-description {
  .user-select-none {
    user-select: none;
  }
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: #192733;
  //border-radius: 10px;
  padding: none;
}

.spell-link {
  color: #58a6ff;
}

.spell-description {
  .user-select-none {
    user-select: none;
  }
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: #192733;
  //border-radius: 10px;
  padding: none;
}



.npc-link {
  color: #58a6ff;
}

.npc-description {
  .user-select-none {
    user-select: none;
  }
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: #192733;
  //border-radius: 10px;
  padding: none;
}

.item-description table {
  font-family: arial, helvetica;
  font-weight: normal;
  font-size: 12px;
  text-align: inherit;
  vertical-align: top;
  border: none;
  overflow: unset;
  margin: 0px;
}


.item-description table th {
  background-color: #192733;
  border: none;
}

.item-description table tr th {
  background-color: #192733;
  color: white;
  font-weight: normal;
  //padding: 0px;
  text-align: left;
  //border: none;
}


.item-description table tr td {
  background-color: #192733;
  color: white;
  font-weight: normal;
  padding: 0px;
  text-align: left;
  overflow: none;
}

.item-description table td {
  background-color: #192733;
  color: white;
  padding: 0px;
  //line-height: 0%;
}

.item-description table tr:nth-child(odd) {
  background-color: #192733;
}

.item-description table tr:nth-child(even) {
  background-color: #192733;
}

.item-description table tr:hover {
  background-color: #192733;
}

