<header class="book-header">
    {{/*  <input type="checkbox" class="toggle" id="menu-control" />  */}}
    <label for="menu-control">
      <img src="{{ "svg/menu.svg" | relURL }}" class="book-icon" alt="Menu" />
    </label>

    <a href="{{ "" | absLangURL }}" style="display: flex; align-items: center;">
      {{- with .Site.Params.BookLogo -}}
      <img id="page-logo" src="{{ . | relURL }}" alt="Logo" style="vertical-align: middle; width: 32px; display: inline-block; transform: translateY(5px)"/>
      {{- end -}}
      <h1 id="page-title" style="display: inline-block;">
        {{ .Site.Params.Title }}
      </h1>
    </a>
    <div class="spacer"></div>
    <div id="status" style="display: flex; align-items: center;">
      <h3 style="display: inline-block; margin: 0;">
        Status: <span id="status-online" class="status-good">Online</span><br>
        Players: <span id="status-count" class="status-good">1</span>
      </h3>
    </div>
    <div class="spacer"></div>
    <div id="search-icon" class="quartz-search">
      <p>{{ i18n "search" }}</p>
      <svg tabindex="0" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">{{ i18n "search_icon" }}</title><desc id="desc">{{ i18n "icon_search" }}</desc><g class="search-path" fill="none"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g></svg>
    </div>
    {{partial "quartz/darkmode" .}}
</header>

