.markdown {

  // {{< expand "Label" "icon" >}}
  .book-expand {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: 2px solid var(--secondary);
    border-radius: $border-radius;

    overflow: hidden;

    .book-expand-head {
      color: var(--secondary);
      font-family: var(--font-body);
      padding: $padding-8 $padding-16;
      cursor: pointer;
      font-weight: bold;
    }

    .book-expand-content {
      display: none;
      padding: $padding-16;
    }

    input[type="checkbox"]:checked+.book-expand-content {
      display: block;
    }
  }

  // {{< tabs >}}
  .book-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--dark);
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $padding-8 $padding-16;
      border-bottom: $padding-1 transparent;
      cursor: pointer;
    }

    .book-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      // border-top: $padding-1 solid var(--dark);
      padding: $padding-16;
      display: none;
    }

    input[type="radio"]:checked+label {
      border-bottom: $padding-1 * 2 solid var(--secondary);
      color: var(--secondary);
      font-weight: bold;
    }

    input[type="radio"]:checked+label+.book-tabs-content {
      display: block;
    }

    // input[type="radio"]:focus+label {
    //   @include outline;
    // }
  }

  // {{< columns >}}
  .book-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    >div {
      margin: $padding-16 0;
      min-width: $body-min-width / 2;
      padding: 0 $padding-16;
    }
  }

  // {{< button >}}
  a.book-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: var(--secondary);
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid var(--secondary);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .book-hint {

    @each $name,
    $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.1);
      }
    }
  }
  // {{< progressbar >}}
 /* Base styles for light mode */
.progress-container {
  width: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
}

.progress-bar {
  height: 20px;
  background-color: #4CAF50; /* Green in light mode */
  text-align: center;
  line-height: 20px; /* Same as height to vertically center text */
  color: white;
  transition: width 0.4s ease;
}

.progress-label {
  font-size: 0.8em;
  font-weight: bold;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .progress-container {
      background-color: #333; /* Darker background in dark mode */
      border-color: #444;
  }

  .progress-bar {
      background-color: #76b852; /* A lighter green suitable for dark backgrounds */
  }

  .progress-label {
      color: #f0f0f0; /* Lighter text color for better readability in dark mode */
  }
}


}