{{ define "main" }}
<article class="markdown">


{{$buildsCSS := resources.Get "/builds/builds.css" | resources.ToCSS (dict "outputStyle" "compressed") | resources.Fingerprint "md5" | resources.Minify  }}
<link href="{{$buildsCSS.Permalink}}" rel="stylesheet" type="text/css">

<section id="pricing" class="dark">
	<div class="row" style="margin-top:0px;">
		<div class="row">
			<div id="class-list" class="form-group">
				<span id="class-8" class="class-button"><img class="classicon" src="/builds/images/classicons/brd.png" /></span>
				<span id="class-15" class="class-button"><img class="classicon" src="/builds/images/classicons/bst.png" /></span>
				<span id="class-16" class="class-button"><img class="classicon" src="/builds/images/classicons/ber.png" /></span>
				<span id="class-2" class="class-button"><img class="classicon" src="/builds/images/classicons/clr.png" /></span>
				<span id="class-6" class="class-button"><img class="classicon" src="/builds/images/classicons/dru.png" /></span>
				<span id="class-14" class="class-button"><img class="classicon" src="/builds/images/classicons/enc.png" /></span>
				<span id="class-13" class="class-button"><img class="classicon" src="/builds/images/classicons/mag.png" /></span>
				<span id="class-7" class="class-button"><img class="classicon" src="/builds/images/classicons/mnk.png" /></span>
				<span id="class-11" class="class-button"><img class="classicon" src="/builds/images/classicons/nec.png" /></span>
				<span id="class-3" class="class-button"><img class="classicon" src="/builds/images/classicons/pal.png" /></span>
				<span id="class-4" class="class-button"><img class="classicon" src="/builds/images/classicons/rng.png" /></span>
				<span id="class-9" class="class-button"><img class="classicon" src="/builds/images/classicons/rog.png" /></span>
				<span id="class-5" class="class-button"><img class="classicon" src="/builds/images/classicons/shd.png" /></span>
				<span id="class-10" class="class-button"><img class="classicon" src="/builds/images/classicons/shm.png" /></span>
				<span id="class-1" class="class-button"><img class="classicon" src="/builds/images/classicons/war.png" /></span>
				<span id="class-12" class="class-button"><img class="classicon" src="/builds/images/classicons/wiz.png" /></span>
			</div>
		</div>
		<h1 class="title">{{ partial "docs/title.html" . }}</h1>

		<div class="row">
			<p>
			<div id="class-description"></div>
			<br>
			Points Spent: <span class="charLevel">0</span>
			</p>
		</div>

		<div class="row">

			{{/*<img id="monogram" unselectable="on" class="portrait" src="/builds/images/monograms/5.gif" style="left: 30%;margin-left: -30%;">*/}}
			<div class="treeCollection">
				<div class="treewrapper green">
					<div class="bglayer gray"></div>
					<div class="bglayer color" style="height: 80px;"></div>
					<div class="tree" id="tree-1">
					</div>
				</div>

				<div class="treewrapper blue">
					<div class="bglayer gray"></div>
					<div class="bglayer color" style="height: 80px;"></div>
					<div class="tree" id="tree-2">
					</div>
				</div>

				<div class="treewrapper red">
					<div class="bglayer gray"></div>
					<div class="bglayer color" style="height: 80px;"></div>
					<div class="tree" id="tree-3" unselectable="on">
					</div>
				</div>
			</div>

			<div class="row" style="text-align: left;">
				<div style="text-align: center;"><label class="control-label" style="color: white">
						<div id="class-name"></div> Skill List
					</label><br></div>
				<ul id="build-list">
				</ul>
			</div>

		</div>
	</div>
</section>

<script>
		var currentClassID = {{ if .Params.ClassID }}{{ .Params.ClassID }}{{else}}2{{end}}
		var isTest = true
</script>
{{ $buildDBJS := resources.Get "/builds/js/build_db.js" | resources.Fingerprint "md5" }}
<script src="{{ $buildDBJS.Permalink }}" integrity="{{ $buildDBJS.Data.Integrity }}"></script>
{{ $buildJS := resources.Get "/builds/js/build.js" |  resources.Fingerprint "md5" }}
<script src="{{ $buildJS.Permalink }}" integrity="{{ $buildJS.Data.Integrity }}"></script>


</article>
{{ end }}